{% extends "storefront/base.html" %}
{% block content %}
        
        {% load mathfilters %}
        {% load static %}
        {% load bootstrap5 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}




 <div class="container">
At BigBootCoffee, we're passionate about serving up the finest brews with a touch of Irish charm. Located in the heart of Ireland, our cozy online coffee shop offers all the excellent coffe and equipment required for happy cups of coffee!.
<br>
<br>
<br>
Our Commitment:

At BigBootCoffee, we're dedicated to providing exceptional coffee. We source our beans from sustainable and ethical suppliers, ensuring that every cup you enjoy is not only delicious but also supports responsible practices.
<br>
<br>
<br>

Follow us on Instagram and Facebook for updates and specials!
Thank you for choosing BigBootCoffee. We look forward to serving you soon!

 </div>
 {% endblock content %}